# Dependencias
node_modules/
.pnpm-store/

# Archivos de construcción / caché de Expo
.expo/
dist/
web-build/
.expo-shared/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
